time_zone=GMT-1
time_daylight=
restore_default=0
wiz_language=German
wiz_country=Germany
fix_ipaddr=
fix_netmask=
fix_gateway=
wan_ifname=ppp0
wan_mode=pppoe
wan_iptype=Dynamic
wan_ipaddr=
wan_netmask=
wan_gateway=
wan_mtu=1492
wan_fix_dns=0
wan_dns1=
wan_dns2=
wan_macaddr=
wan_encap=0
wan_vpi=1
wan_vci=32
wan_account=
wan_domain=
wan_dod=1
lan_if=br0
lan_ipaddr=192.168.0.1
lan_netmask=255.255.255.0
lan_bipaddr=192.168.0.255
dhcp_server_enable=1
dhcp_start_ip=192.168.0.2
dhcp_end_ip=192.168.0.254
dhcp_reserved=
http_username=admin
http_password=admin
http_timeout=180
rt_static_route=
rt_rip_version=1
rt_rip_direction=
bothddns_enable=0
ddns_service_provider=dyndns
ddns_user_name=
ddns_password=
ddns_host_name=
ddns_use_wildcards=0
pppoe_username=username
pppoe_password=1234567890
pppoe_idle=0
pppoe_service=
pppoa_username=Guest
pppoa_password=
pppoa_idle=5
pppoa_ipaddr=
wifi_ssid=wm-network
wifi_region=Europe
wifi_channel=11
wifi_auth_type=3
wifi_key_len=128
wifi_def_key=1
wifi_key1=ABC712919ABa1981AAV1271AAS
wifi_key2=
wifi_key3=
wifi_key4=
wifi_access_control=0
wifi_access_list=
wifi_if_on=1
wifi_broadcast_ssid=1
wifi_wep_on=1
wifi_dot11_mode=0
wifi_radius_port=1812
mail_enable=0
mail_logfull=0
mail_sendlog=2
mail_server=
mail_recipient=
mail_dos=1
mail_portscan=1
mail_block=1
mail_sh_day=0
mail_sh_hour=1
log_dos=1
log_block=1
log_login=0
log_gateway=1
log_type=0
log_remote_ip=0
fw_nat=0
fw_block=0
fw_block_keyword=
fw_block_trust_enable=0
fw_block_trust=
fw_services_def=Any(ALL):any:1-65535Any(TCP):tcp:1-65535Any(UDP):udp:1-65535AIM:tcp:5190-5190BGP:tcp:179-179BOOTP_CLIENT:udp:68-68BOOTP_SERVER:udp:67-67CU-SEEME:both:7648-24032DNS:both:53-53FINGER:tcp:79-79FTP:tcp:20-21H.323:tcp:1720-1720HTTP:tcp:80-80HTTPS:tcp:443-443IDENT:tcp:113-113IRC:both:6667-6667NEWS:tcp:144-144NFS:udp:2049-2049NNTP:tcp:119-119RCMD:tcp:512-512REAL-AUDIO:tcp:7070-7070REXEC:tcp:514-514RLOGIN:tcp:513-513RTELNET:tcp:107-107RTSP:both:554-554SFTP:tcp:115-115SMTP:tcp:25-25SNMP:both:161-161SNMP-TRAPS:both:162-162SQL-NET:tcp:1521-1521SSH:both:22-22STRMWORKS:udp:1558-1558TACACS:udp:49-49TELNET:tcp:23-23TFTP:udp:69-69VDOLIVE:tcp:7000-7000VPN-IPSEC:udp:500-500VPN-L2TP:udp:1701-1701VPN-PPTP:tcp:1723-1723
fw_services=
fw_in_rules=1:Any(ALL
fw_out_rules=
fw_dmz_enable=1
fw_dmz=
fw_spi=0
fw_response_ping=1
fw_schedule=1111111:00:00-24:00
fw_time_zone=+1
afw_remote=1
fw_remote_type=3
fw_remote_range_start=
fw_remote_range_end=
fw_remote_single=
fw_remote_port=8080
ntp_custom=0
ntp_server=
upnp_enable=1
upnp_adv_time=30
upnp_ttl=4
upnp_permission=
enableupnp_default=
upnp_custom=
snmp_enable=0
snmp_read_community=
snmp_sys_name=
snmp_sys_contact=
snmp_sys_location=
blank_state=0
ca_wsectype=
wepwifi_present=1
ca_retry=0
detect_finished=tmss0
=<module name="url_filtering">
  <param name="url_filter_enable" value="0"/>
  <pa
ram name="vendor_id" value="NetGear02"/>
  <param name="license_id" value="NetGear0002"/>
  <param name="user_id" value="-"/>
  <param name="origin_protocol" value="0"/>
  <param name="url_filter_host" value="ng02.url.trendmicro.com"/>
  <param name="url_filter_host_port" value="80"/>
  <param name="drtr_mode" value="0"/>
  <param name="deny_on_error" value="0"/>
  <param name="url_cache_size" value="500"/>
  <param name="license_enable" value="0"/>
  <param name="url_cache_expire_time" value="259200"/>
  <param name="url_rating_timeout" value="3"/>
  <param name="url_filter_lic_chk_interval" value="86400"/>
  <param name="per_user_setting" value="0"/>
  <param name="idle_timeout" value="3600"/>
  <param name="superuser_pass" value="098f6bcd4621d373cade4e832627b4f6"/>
  <param name="default_category_preset" value="0"/>
  <param name="default_category_custom" value="000102030405060708091425"/>
  <param name="user0_name" value="Parents"/>
  <param name="user0_pass" value="098f6bcd4621d373cade4e832627b4f6"/>
  <param name="user0_status" value="1"/>
  <param name="user0_category_preset" value="4"/>
  <param name="user0_category_custom" value=""/>
  <param name="default_schedule_time_end_6" value="47"/>
  <param name="default_schedule_time_start_6" value="0"/>
  <param name="default_schedule_day_6" value="6"/>
  <param name="default_schedule_time_end_5" value="47"/>
  <param name="default_schedule_time_start_5" value="0"/
>
  <param name="default_schedule_day_5" value="5"/>
  <param name="default_schedule_time_end_4" value="47"/>
  <param name="default_schedule_time_start_4" value="0"/>
  <param name="default_schedule_day_4" value="4"/>
  <param name="default_schedule_time_end_3" value="47"/>
  <param name="default_schedule_time_start_3" value="0"/>
  <param name="default_schedule_day_3" value="3"/>
  <param name="default_schedule_time_end_2" value="47"/>
  <param name="default_schedule_time_start_2" value="0"/>
  <param name="default_schedule_day_2" value="2"/>
  <param name="default_schedule_time_end_1" value="47"/>
  <param name="default_schedule_time_start_1" value="0"/>
  <param name="default_schedule_day_1" value="1"/>
  <param name="default_schedule_time_end_0" value="47"/>
  <param name="default_schedule_time_start_0" value="0"/>
  <param name="default_schedule_day_0" value="0"/>
</module>

<module name="entitlement">
  <param name="entitlement_host" value="tmss.trendmicro.com"/>
  <param name="entitlement_port" value="80"/>
  <param name="entitlement_path" value="/entitlement/tmssvalidatebox.aspx"/>
</module>

<module name="proxy">
  <param name="proxy_enable" value="0"/>
  <param name="proxy_host" value=""/>
  <param name="proxy_port" value=""/>
  <param name="proxy_username" value=""/>
  <param name="proxy_password" value=""/>
</module>

<module name="summary">
  <param name="box_status" value=""/>
  <param name="box_action
_url" value=""/>
  <param name="spyware_clean_lic" value=""/>
  <param name="spyware_clean_date" value=""/>
  <param name="parental_control_lic" value=""/>
  <param name="parental_control_date" value=""/>
  <param name="security_scan_lic" value=""/>
  <param name="security_scan_date" value=""/>
</module>

<module name="clientinfo">
  <param name="count"             value="0"/>
</module>

<module name="avenforcer">
  <param name="enable"        value="0"/>
  <param name="url_avserver"  value="http://tmss.trendmicro.com/dashboard/dashboard.aspx"/>
  <param name="time_report"   value="86400"/>
  <param name="time_outdate"  value="1800"/>
  <param name="time_update"   value="300"/>
  <param name="host_exception" value="tmss.trendmicro.com;beta.tmss.trendmicro.com;tmssreg.trendmicro.com;drh.digitalriver.com;ccc.trendmicro.com;www.trendmicro.com;pc-cillin-p.activeupdate.trendmicro.com;vbuster-p.activeupdate.trendmicro.co.jp;tmss-p.activeupdate.trendmicro.com;beta.activeupdate.trendmicro.com;tmss-sp.trendmicro.com;tmss.trendmicro.com"/>
</module>

<module name="exception">
  <param name="enable" value="1"/>
  <paratmss1=m name="enable_avedst" value="1"/>
  <param name="path_avedst"   value="/var/tmp/avedst.dat"/>
</module>

<module name="au_checker">
  <param name="enable" value="0"/>
  <param name="au_server_url" value="http://tmss-p.activeupdate.trendmicro.com/activeupdate/server.ini"/>
  <param name="au_check_time" valu
e="1800"/>
</module>

<module name="hardwareinfo">
  <param name="vendor_id" value="USS1003002"/>
  <param name="box_ip" value="192.168.0.1"/>
</module>
tmss2=
tmss3=
tmss4=
tmss_enable=0
wifi_passphrase=wlan
wiz_runtest=
pppoe_ipaddr=
ipoa_mode=
wifi_dot11_iso=0
ipoa_ipaddr=
ipoa_netmask=
ipoa_gateway=
wifi_psk_pwd=
wifi_radius_server=
wifi_radius_login_key=
mail_enable_auth=
mail_login=
mail_password=
vpn=
snmp_local_disable=
schedule_block=0