time_zone=GMT-1a
time_daylight=0
restore_default=0
wiz_language=English
fix_ipaddr=
fix_netmask=
fix_gateway=
wan_ifname=eth0
wan_country=
wan_mode=dhcpc
wan_iptype=Dynamic
wan_ipaddr=
wan_netmask=
wan_gateway=
wan_mtu=1500
wan_fix_dns=0
wan_dns1=
wan_dns2=
wan_macaddr=
wan_encap=1
wan_vpi=8
wan_vci=35
wan_account=WPNT834
wan_domain=
wan_dod=1
lan_if=eth1
lan_ipaddr=192.168.1.1
lan_netmask=255.255.255.0
lan_bipaddr=192.168.1.255
dhcp_server_enable=1
dhcp_start_ip=192.168.1.2
dhcp_end_ip=192.168.1.254
dhcp_reserved=
http_username=admin
http_password=admin
http_timeout=5
rt_static_route=
rt_rip_version=disabled
rt_rip_direction=0
ddns_enable=0
ddns_service_provider=dyndns
ddns_user_name=
ddns_password=
ddns_host_name=
ddns_use_wildcards=0
pppoe_username=0012345678901234567890120001
pppoe_password=12345678
pppoe_idle=5
pppoe_service=
pppoa_username=Guest
pppoa_password=
pppoa_idle=0
pppoa_ipaddr=
ntp_server=
wifi_dot11_mode=4
wifi_ssid=wm-network
wifi_region=Europe
wifi_channel=0
wifi_auth_type=3
wifi_key_len=0
wifi_def_key=1
wifi_key1=
wifi_key2=
wifi_key3=
wifi_key4=
wifi_access_control=0
wifi_access_list=
wifi_if_on=1
wifi_broadcast_ssid=1
wifi_wep_on=2
protect_en=1
wifi_frag=2346
wifi_rts=2346
wifi_psk_pwd=Wlan123
wifi_psk2_pwd=
wifi_psk2p_pwd=Wlan123
preamble_mode=0
wl_gtk=3600
mail_enable=0
mail_logfull=0
mail_sendlog=2
mail_server=
mail_recipient=
mail_dos=0
mail_portscan=0
mail_block=1
mail_sh_day=0
mail_sh_hour=1
mail_enable_auth=0
mail_login=
mail_password=
log_dos=1
log_block=1
log_login=0
log_gateway=0
log_type=0
log_remote_ip=
fw_nat=1
blk_srv_sip=
blk_srv_eip=
fw_block=0
schedule_block=1
fw_block_keyword=
fw_block_trust_enable=0
fw_block_trust=
fw_services_def=Any(ALL):both:1-65535
    Any(TCP):tcp:1-65535
    Any(UDP):udp:1-65535
    AIM:tcp:5190-5190
    BGP:tcp:179-179
    BOOTP_CLIENT:udp:68-68
    BOOTP_SERVER:udp:67-67
    CU-SEEME:both:7648-24032
    DNS:both:53-53
    FINGER:tcp:79-79
    FTP:tcp:20-21
    H.323:tcp:1720-1720
    HTTP:tcp:80-80
    HTTPS:tcp:443-443
    IDENT:tcp:113-113
    IRC:both:6667-6667
    NEWS:tcp:144-144
    NFS:udp:2049-2049
    NNTP:tcp:119-119
    RCMD:tcp:512-512
    REAL-AUDIO:tcp:7070-7070
    REXEC:tcp:514-514
    RLOGIN:tcp:513-513
    RTELNET:tcp:107-107
    RTSP:both:554-554
    SFTP:tcp:115-115
    SMTP:tcp:25-25
    SNMP:both:161-161
    SNMP-TRAPS:both:162-162
    SQL-NET:tcp:1521-1521
    SSH:both:22-22
    STRMWORKS:udp:1558-1558
    TACACS:udp:49-49
    TELNET:tcp:23-23
    TFTP:udp:69-69
    VDOLIVE:tcp:7000-7000
    VPN-IPSEC:udp:500-500
    VPN-L2TP:udp:1701-1701
    VPN-PPTP:tcp:1723-1723
fw_services=
fw_vs_rules=
fw_sp_rules=enable:dialpad_1:51200-51200:tcp:51200-51200:tcp/udp:Any
    enable:dialpad_2:51201-51201:tcp:51201-51201:tcp/udp:Any
    enable:paltalk_1:2090-2090:tcp:2090-2090:tcp/udp:Any
    enable:paltalk_2:2091-2091:tcp:2091-2091:tcp/udp:Any
    enable:starcraft:6112-6112:tcp:6112-6112:tcp/udp:Any
fw_fwpt_enable=1
fw_pt_timeout=20
fw_in_rules=
fw_out_rules=
fw_dmz_enable=0
fw_dmz=
fw_spi=1
fw_response_ping=0
fw_schedule=1111111:0:0-23:59
fw_time_zone=+1a
fw_remote=0
fw_remote_type=3
fw_remote_range_start=
fw_remote_range_end=
fw_remote_single=
fw_remote_port=8080
ntp_custom=0
ntp_server=
upnp_enable=1
upnp_adv_time=30
upnp_ttl=4
passphrase=
staticip=0
needcaflag=0
needfwcheck=1
catobasic=0
pptp_username=
pptp_password=
pptp_idle=5
pptp_ipaddr=
pptp_server=
bpa_username=
bpa_password=
bpa_server=login-server
bpa_idle=5
catesting=0
concatenation=1
density=0
command=
wifi_chn_switch_auto=0
wifi_intf=1
popwindow=1
passfirstpage=0
page_before_reboot=UPG_upgrade.htm
connect_id=
pppoe_ipaddr=
wan_macaddr_new=
nonewpage=0